.button {
  display: inline-block;
  max-width: 100%;
  margin-right: 5px;
  padding: 5px 10px;

  white-space: nowrap;
  vertical-align: middle;

  font-size: 1rem;
  line-height: 1.4rem;

  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;

  overflow: hidden;
  text-overflow: ellipsis;
}

.button > .fa {
  margin-right: 5px;
}

.button.primary {
  color: #fff;

  background-color: #69bfc4;
  border-color: #146977;
}
.button.primary:hover {
  background-color: #146977;
}
.button.primary:focus {
  background-color: #3ea9b3;
}

.button.secondary {
  color: #146977;

  background-color: transparent;
  border-color: #146977;
}
.button.secondary:hover {
  background-color: #98d5d9;
}
.button.secondary:focus {
  background-color: #c3e4e6;
}

.button.danger {
  color: #fff;

  background-color: #e74440;
  border-color: #a10d09;
}
.button.danger:hover {
  background-color: #a10d09;
}
.button.danger:focus {
  background-color: #cc1f1a;
}
